<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css">
  
  <title>Admin Page</title>
</head>
<body>
  <h1>
    Welcome to the admin page <%= name %>
  </h1>
  
  <!-- Navigation with sessions-->
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>

  <div class="user-stats">
    <h2>The user count is: <%= userCount %></h2>
  </div>

  <!--Buttons-->
  <form action="/admin/delete" method="post">
    <div class="delete-user">
      <label for="deleteInput">Delete a User:</label>
      <input type="text" placeholder="Username" name="deleteInput" id="deleteInput">
      <button id="deleteButton" type="submit">Delete User</button>
    </div>
  </form>

  <form action="/admin/ban" method="post">
    <div class="ban-user">
      <label for="banInput">Ban a User:</label>
      <input type="text" placeholder="Username" name="banInput" id="banInput">
      <button id="banButton" type="submit">Ban User</button>
    </div>
  </form>

  <h1> <%= message %> </h1>

  <h1>User List: </h1>
  <ul>
    <% for (let i = 0; i < users.length; i++) { %>
      <div class="user-list">
        <li><%= users[i].username %>, <%= users[i].email %>, <%= users[i].created_at %></h2>
        
      </div>
    <% } %>

  </ul>
  
</body>
</html> 