<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
  
  <title>Collection | DeckBoss</title>

</head>
<body>
  <h1><%= title %></h1>

    <!-- Navigation with sessions-->
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
  
      <% if (!name) { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/card-info">Card Pricing Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile-form">Profile</a>
      </li>
    </ul>

  <br>
  <h1><%= name %>'s Collection </h1>
  
  <% collection.forEach(function(card) {%>
    <div>
      <h1><%= card.name %></h1>
      <h1>$<%= card.cardmarket.prices.avg1 %></h1>
      <img src=<%= card.images.small %>
    </div>
  <% }); %>

  


</body>
</html>