<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>User Profile</title>
</head>

<body>

  <!-- Navigation with sessions-->
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile-form">Update Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search">Search</a>
    </li>
  </ul>

  <div class="profile-body">
    <div class="picForProfile">
      <% if (profilepic) { %>
        <img src="../images/basic_pfps/<%= profilepic %>" alt="profilepic" class="profilepic">
      <% } else { %>
        <img src="../images/basic_pfps/default.png" alt="profilepic" class="profilepic"> 
      <% } %>
    </div>
    <div class="nickName">
      <p>Nickname: </p>
      <p><%= nickname %></p>
    </div>
    <div class="aboutMe">
      <p>Bio: </p>
      <p><%= aboutme %></p>
    </div>
    <div class="otherSocialMedia">
      <p>Other Links: </p>
      <p><%= othermedia %></p>
    </div>
    <div class="favoriteTags">
      <p>Favorite Pokemon Tag: </p>
      <p><%= pokemontag %></p>
    </div>
  </div>

  <!--Card Collection-->
  <h1>
    <br><% if (nickname) { %>
      <%= nickname %>'s Pokemon Collection
    <% } else { %>
      Your Pokemon Collection
    <% } %>
  </h1>
  <% if (card_id != null) { %>
    <h2>Number of Cards: <%= card_id.length %> </h2>
    <% } else { %>
     <h2>Number of Cards: 0</h2> 
  <% } %>
  <div class="card-collection" style="text-align: center;">
    <div id="card">
      <% if (card_id != null) { %>
        <% var total_price = 0 %>
      <% for (var i = 0; i < card_id.length; i++) { %>
        <% total_price += card_value[i]%>
        <p>Pokemon: <%= card_name[i] %></p>
        <p>Card ID: <%= card_id[i] %></p>
        <p style="color: white;"><a href='<%= urls[i] %>'>Card Market Data</a></p>
        <p>Avg. Price: $<%= card_value[i].toFixed(2) %></p>
        <img src="<%= card_image[i] %>"></img>
        <button id="<%= card_id[i] %>" data-imageValue="<%= card_image[i] %>" data-cardUrl="<%= urls[i] %>" data-cardName="<%= card_name[i] %>" data-cardValue="<%= card_value[i] %>">
          Delete Card from Collection
        </button>
        <br>
        <br>
        <br>
        <br>
       

      <% } %>
      <h2>Total Collection Value: $<%= total_price.toFixed(2) %></h2>
      <% } else { %>
        <p>No cards found</p>
      <% } %>

    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    $('button').click(function() {
      var card_id = $(this).attr('id');
      var card_name = $(this).attr('data-cardName');
      var card_image = $(this).attr('data-imageValue');
      var url = $(this).attr('data-cardUrl');
      var card_value = $(this).attr('data-cardValue');
      $.ajax({
        type: "POST",
        url: "/profile/remove",
        data: {
          card_id: card_id,
          card_image: card_image,
          card_name: card_name,
          urls: url,
          value: card_value
        },
        success: function(data) {
          console.log(data);
          location.reload();
        }
      });
    });
  });
</script>
</html>