<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>User Profile</title>
</head>

<body>

  <!-- Navigation with sessions-->
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile-form">Update Profile</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/card-info">Card Pricing Info</a>
    </li>
  </ul>

  <div class="picForProfile">
    <img src="../images/basic_pfps/<%= profilepic %>"></img>
  </div>
  <div class="nickName">
    <p>Nickname: <%= nickname %></p>
  </div>
  <div class="aboutMe">
    <p>Bio: <%= aboutme %></p>
  </div>
  <div class="otherSocialMedia">
    <p>Other Links: <%= othermedia %></p>
  </div>
  <div class="favoriteTags">
    <p>Favorite Pokemon Tag: <%= pokemontag %></p>
  </div>


</body>

</html>