<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Search Results</title>
</head>
<body>
  <h1>Search Results</h1>

   <!-- Navigation with sessions-->
   <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>


    <% if (!name) { %>
      <li class="nav-item"> 
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <% } %>
     
  </ul>


  <div>
    <ul style="list-style-type: none" >
      <div class="results-txt">
        <% for (var i = 0; i < results.data.length; i++) { %>
          <li>
            <h1><%= results.data[i].name %> <h2>ID: '<%= results.data[i].id %>'</h2></h1>
            <p>Description: <%= results.data[i].flavorText %></p>
            <p>The card trending price is: $<%= results.data[i].cardmarket.prices.trendPrice %></p>
            <div>
              <img src="<%= results.data[i].images.small %>">
              <br>
              <br>
              <button id="button <%= results.data[i].id %>" class="btn btn-primary" onclick="addToCollection('<%= results.data[i].id %>', '<%= results.data[i].name %>', '<%= results.data[i].cardmarket.url %>', '<%= results.data[i].images.small %>', '<%= results.data[i].id %>')">Add to Collection</button>
              <br>
              <br>
              <div class="results-links">
                <a href="<%= results.data[i].cardmarket.url%>"> Here's a cardmarket link</a>
                <br>
                <br> 
                <a href="<%= results.data[i].tcgplayer.url%>"> Here's a tcgplayer link</a>
                <br>
                <br>
              </div>
            </div>
          </li>
        <% } %>
      </div>
      
    </ul>
  </div>

  <% if (error) { %>
    <p><%= error %></p>
  <% } %>
  
</body>
<script>
  function addToCollection(id, name, url, image, buttonID) {
    $.ajax({
      url: '/results/addToCollection',
      type: 'POST',
      data: {
        id: id,
        name: name,
        url: url,
        image: image
        
      }
    });
    // change button text to "Added"
    var button = document.getElementById('button ' + buttonID);
    button.innerHTML = "Added";
    button.disabled = true;

  }
</script>
</html>